<%- include('./partials/head.ejs')  %> 

<div>
    <h4><%= info.username  %> </h4>
    <h4><%= info.title %> </h4>
    <h4><%= info.post %> </h4>
    <h4><%= info.createdAt %> </h4>
</div>



<div class="comments-section">
    <h3>Comments</h3>
    <form action="/api/comments/<%= info.id %>" method="POST">
        <label for="writtenBy">Written by:</label>
    <input type="text" id="writtenBy" name="writtenBy" value="<%=user.username%>" readonly></label>
    <label for="commentBody">Comment:</label>
    <input type="text" id="commentBody" name="commentBody">
    <button>Submit</button>
    </form>
    <div id="fl">
        <h4>Comments on Post</h4><h5><%= info.comments.length  %>  </h5>
    </div>
    <div id="comments">
        <% if(info.comments.length > 0) { %> 
            <div id="comment-singles">
                
           
           <% info.comments.forEach(commentArray => { %> 
           <div id="hehe">
            <p> Written By: <%= commentArray.writtenBy  %> 
            </p>
            <p>
                Comment: <%= commentArray.commentBody  %> 
             </p>
            
              <% }) %> 
           </div> 
            </div>
            <% } else { %> 
                <p>This post has no comments</p>
                <% } %> 
    </div>
   
</div>
<a class="delete" data-doc="<%= info._id %>">Delete Post (w.i.p for user to be able to delete)</a>


<script>

var deleteEl = document.querySelector('a.delete');

deleteEl.addEventListener('click', (e) => {
    const endpoint = `/api/posts/${deleteEl.dataset.doc}`;

    fetch(endpoint, {
        method: 'DELETE',
    }).then(response => response.json()).then(data => window.location.href = data.redirect)
})

function handleSubmit(e) {
    e.preventDefault();
}

</script>