<%- include('./partials/head.ejs')  %> 




<div class="posts-dude">
    <%- include('./partials/message.ejs')  %>
    <div>
        <% if(data.length <= 0) { %> 
            <p> There are currently no posts. Go create one!</p>
            <% } %> 
        <% data.forEach(items => { %>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Post by: <%= items.username %>  </div>
                <div class="card-body">
                  <h4 class="card-title"><%= items.post %></h4>
                  <p class="card-text"></p>
                  <small>Comments: <%= items.comments.length  %> </small>
                  
                </div>
                <div id="discuss">
                    <a class="single"  href="posts/<%= items._id %> "><button type="button"  class="btn  btn-primary">Discussion</button></a>
                </div>
               
              </div>
            <!-- <ul id="post-ul">
                <a class="single" href="posts/<%= items._id %> "> Discussion </a>
                <li> <h3>Post Made by</h3> <%= items.username %>  </li> 
                <li><h3>Post title</h3><%= items.title %> </li> 
                <li> <h3>Post Message</h3><%= items.post %></li>   
                
                <li><h5>Comments: <%= items.comments.length  %> </h5></li>
            </ul>  -->
            
        <% }) %> 
    </div>
    
</div>
   

 